*.class
*.jar
*.war
*.ear
*~
*.svg
*.scad
maze.log.*
maze.log
/target/
/.sonar
/maze-geometry.js
/maze-moebius.js
/maze-rect.pdf
/maze-triangular.pdf
/maze-circular.pdf
/maze-hexagonal.pdf
/maze-voronoi.pdf
/#maze-hexagonal.svg#
/.externalToolBuilders/net.sf.eclipsecs.core.CheckstyleBuilder.launch
/.externalToolBuilders/org.eclipse.m2e.core.maven2Builder.launch
/hs_err_pid29512.log
/.project
/.classpath
/.idea